extends ../base

block head
	title Добро пожаловать!
block content
	- var name = 'Дмитрий Соколов'
	.container
		div#parallax
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-1-min.png"))
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-2-min.png"))
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-3-min.png"))
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-4-min.png"))
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-5-min.png"))
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-6-min.png"))
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-7.png"))
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-8-min.png"))
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-9-min.png"))
			.parallax__layer
				img.parallax__image(src=require("../../../images/parallax/layer-10-min.png"))
		header.header
			.singin__box
				.singin Авторизоваться
		.content
			section.welcome
				.welcome__img
					img.welcome__img_ava(src=require("./img/avag.jpg"))
				.welcome__text
					h2.welcome__title #{name}
					.welcome__title_small Личный сайт веб-разработчика
				.welcome__socials
					span.welcome__socials_icon
						a(href='#' style="color: #00b69e")
							span.icon-vk.icon
					span.welcome__socials_icon
						a(href='#')
							span.icon-github.icon
					span.welcome__socials_icon
						a(href='#')
							span.icon-in.icon
				nav.nav
					ul.nav__list
						li.nav__list_item.item_m
							a.nav__list_link(href='works.html') Мои работы
						li.nav__list_item.item_m
							a.nav__list_link(href='about.html') Обо мне
						li.nav__list_item
							a.nav__list_link(href='blog.html') Блог
		footer.footer
			.footer__text &copy;Соколов Дмитрий | создано с любовью в loftschool | 2017


